<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Details</h1>

    <p>Title: <%= foundBook.title %></p>


    <!-- form for adding new review -->
    <form action="/books/<%= foundBook._id %>/reviews" method="post">
        <label for="">Review Body:</label>
        <input name="content" type="text">

        <label for="">Rating: </label>
        <input name="rating" type="number">

        <button>Add Review</button>
    </form>

    <h2>Ratings</h2>
    <% foundBook.reviews.forEach((oneReview)=>{ %>
        <p><%= oneReview.content %></p>
        <p>Rating: <%= oneReview.rating %></p>
    <% }) %>
</body>
</html>