<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Books</h1>

    <% allBooks.forEach((oneBook)=>{ %>
        <p>Title: <%= oneBook.title %> </p>
        <p>price: <%= oneBook.price %> </p>
       
        <p>Author: <%= oneBook.author.name %></p>
        <a href="/books/<%= oneBook._id %>">Go to book details</a>
    <% }) %>
</body>
</html>